In [45]:
import pandas as pd

#Q1: Create a Series with indexes = 1, 2, 3 and has three names.
 
#Q2: Change indexes to 11, 12, 13.
 
#Q3: Retrieve First and second elements.
 
#Q4: Add duplicate elements, then remove the duplication
#Q5: Create a Students DataFrame has three columns (ID, Name)
 
#Q6: Read educ_figdp_1_Data.csv file
    
#Q7: What is the difference between loc and slicing?
#loc use the index labels as references
#slice use the position as references

In [46]:
import pandas as pd

In [47]:
s = pd.Series(["Rayan", "Saud", "ALshanabah"],dtype=str,index = [1,2,3])
s

1         Rayan
2          Saud
3    ALshanabah
dtype: object

In [48]:
s.index=[11,12,13]
s

11         Rayan
12          Saud
13    ALshanabah
dtype: object

In [49]:
s[0:2]

11    Rayan
12     Saud
dtype: object

In [56]:
s2 = pd.Series({14: "Saud"},dtype=str)
s = s.append(s2)
s

C:\Users\delll\AppData\Local\Temp\ipykernel_18192\929368630.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s = s.append(s2)

11         Rayan
12          Saud
13    ALshanabah
14          Saud
14          Saud
14          Saud
dtype: object

In [60]:
s = s.drop_duplicates()

In [61]:
s

11         Rayan
12          Saud
13    ALshanabah
dtype: object

In [63]:
student = {"ID":[100000], "Name":["Rayan"]}
dt= pd.DataFrame(student)
dt

       ID   Name
0  100000  Rayan

In [ ]:
edu = pd.read_csv('educ_figdp_1_Data.csv')
edu